@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply font-sans bg-[url('/modern-light-bg.jpg')] h-screen overflow-hidden 
    }
    h1 {
        @apply text-white
    }                            
    h2 {
        @apply text-white
    }
    p {
        @apply text-white
    }
    li {
        @apply text-secondaryWhite
    }
    #root {
        @apply h-full overflow-hidden
    }
}
                                                                
.login-gradient {
    background: linear-gradient(120deg, white, green, red, blue, purple);
}
                                                                
::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}